extends layout

block content
	article(class='container')
		h1 #{dealer} Added Successfully
		br
		a(href='/dealership', title='Dealership List' class='btn btn-default btn-lg btn-block') Back to Dealership List
		br
		a(href='/dealership/add', title='Add New Dealership' class='btn btn-primary btn-lg btn-block') Add More To List
		
	block footer
	