extends layout

block content
	article(class='container')
		h1 #{dealer} Added Successfully
		br
		a(href='/dealership', title='Dealership List' class='btn btn-primary btn-lg btn-block') Back to Dealership List
		
	block footer
	