extends layout

block content
	article(class='container')
		h1=info
		br
		a(href='/', title='Dealership List' class='btn btn-primary btn-lg btn-block') 
			i(class='fa fa-hand-o-left fa-lg') Back to Home
		
	block footer